<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydsy.mapper.AnnouncementMapper">
    <resultMap id="announcementsResultMap" type="Announcement">
        <result column="announcement_id" property="announcementId"/>
        <result column="creator_id" property="creatorId"/>
        <result column="announcement_content" property="announcementContent"/>
        <result column=" created_at" property="createdAt"/>
    </resultMap>
    <insert id="insertAll">
        insert into announcements(creator_id, announcement_content)
        values (#{creatorId}, #{announcementContent});
    </insert>

    <select id="selectAll" resultType="com.ydsy.pojo.Announcement" resultMap="announcementsResultMap">
        select *
        from announcements;
    </select>
    <select id="selectByLocalDirection" resultType="com.ydsy.pojo.Announcement" resultMap="announcementsResultMap">
        select *
        from announcements
        where creator_id in (select user_id from users where direction_id = #{directionId});
    </select>

</mapper>