<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydsy.mapper.UserMapper">
    <resultMap id="usersResultMap" type="User">
        <result column="user_id" property="userId"/>
        <result column="job_id" property="jobId"/>
        <result column="personal_signature" property="personalSignature"/>
        <result column="student_id" property="studentId"/>
        <result column="major_class" property="majorClass"/>
        <result column="direction_id" property="directionId"/>
    </resultMap>

    <update id="updateAll">
        update users
        <set>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="jobId != null and jobId != ''">
                job_id = #{jobId},
            </if>
            <if test="awards != null and awards != ''">
                awards = #{awards},
            </if>
            <if test="personalSignature != null and personalSignature != ''">
                personal_signature = #{personalSignature},
            </if>
            <if test="studentId != null and studentId != ''">
                student_id = #{studentId},
            </if>
            <if test="majorClass != null and majorClass != ''">
                major_class = #{majorClass},
            </if>
            <if test="stage != null and stage != ''">
                stage = #{stage},
            </if>
            <if test="directionId != null and directionId != ''">
                direction_id = #{directionId},
            </if>
        </set>
        where user_id = #{userId};
    </update>
    <update id="resetPassword">
        update users
        set password = '123456'
        where user_id = #{userId};
    </update>

    <select id="selectAll" resultMap="usersResultMap">
        select *
        from users;
    </select>

    <select id="selectByUserIdUser" resultType="com.ydsy.pojo.User" resultMap="usersResultMap">
        select *
        from users
        where user_id = #{userId};
    </select>
    <select id="selectByAccount" resultType="com.ydsy.pojo.User" resultMap="usersResultMap">
        select *
        from management.users
        where account = #{account};
    </select>
    <select id="selectAllStuByDirection" resultType="com.ydsy.pojo.User" resultMap="usersResultMap">
        select *
        from users
        where direction_id = #{directionId}
          and job_id = 1;
    </select>
    <select id="selectByName" resultType="com.ydsy.pojo.User" resultMap="usersResultMap">
        select *
        from users
        where name = #{name}
    </select>
    <select id="selectMaxUser" resultType="com.ydsy.pojo.User" resultMap="usersResultMap">
        select *
        from management.users
        where user_id = (select max(user_id) from users);
    </select>

</mapper>